@import '../core/variables.scss';

.reset {
  font-family: $medieval;
  font-weight: 900;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
  border-style: none;
  cursor: pointer;
  height: 40px;
  border-radius: 20px;
  width: 70%;
  font-size: 15px;
  background-color: $darkYellow;
  box-shadow: 0px 0px;

  @include tablet {
    width: 100%;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    height: 50px;
    @include desktop {
      width: 100%;
      height: 80px;
      margin-bottom: 20px;
    }
  }

  &:hover {
    transform: scale(1.2);
  }
}
