@import '../core/variables.scss';

.characterImg {
  padding-top: 30px;
  margin-bottom: 10px;
  width: 120px;
  height: 190px;
  border-radius: 50%;
}

.character__link {
  color: $wine;
}

.cardConatainer {
  padding-top: 10px;
  background-image: url('../../images/marcoHP.png');
  background-repeat: no-repeat;
  margin: 10px;
  background-size: 290px;
  width: 290px;
  height: 300px;
  display: block;
  margin: auto;
}
