@import '../core/variables.scss';

.article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  margin-left: 10px;
  color: $wine;
  padding: 0px 7px;
  @include tablet {
  }
}

.detail_list {
  @include tablet {
    font-size: 19px;
  }
}
.detail_img {
  padding-top: 30px;
  margin-bottom: 10px;
  width: 100px;
  height: 160px;
  border-radius: 50%;
  @include tablet {
    padding-top: 30px;
    margin-bottom: 10px;
    width: 150px;
    height: 230px;
    border-radius: 50%;
  }
}

.linkDiv {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.wholeDetailDiv {
  padding: 10px 20px 20px;
  background-image: url('../../images/backgroundDetail.png');
  background-repeat: no-repeat;
  background-size: 350px;
  width: 350px;
  height: 350px;
  display: block;
  margin: auto;
  @include tablet {
    background-size: 490px;
    width: 490px;
    height: 490px;
  }

  @include desktop {
    background-size: 490px;
    width: 490px;
    height: 490px;
  }
}

.close {
  color: $wine;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 2px 5px 0px 0px;
  @include tablet {
    margin: 5px 15px 0px 0px;
  }
}

.titleDetail {
  color: $wine;
  font-size: 18px;
  @include tablet {
    font-size: 22px;
  }
}

.divHeight {
  height: 100vh;
  display: flex;
  align-items: center;

  @include tablet {
  }
  @include desktop {
    height: 100vh;
  }
}
