@import '../core/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  background-color: $mainBackGrey;
  padding: 90px 40px 10px;
  font-size: 14px;
  height: 510px;
  @include tablet {
    font-size: 24px;
    text-align: justify;
    width: 50%;
    height: 530px;
  }

  &__checkboxes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 140px;
    @include tablet {
      height: 200px;
    }
    @include desktop {
      height: 290px;
    }
  }
  &__select {
    margin-top: 20px;
    @include tablet {
      font-size: 24px;
    }
  }

  &__checkboxes__sort {
    padding-top: 15px;
  }

  &__checkboxes__alive {
    padding-top: 15px;
  }
}
