@import '../core/variables.scss';
.inputHouse {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid $darkYellow;
  caret-color: $darkYellow;
  margin-top: 15px;
  margin-left: 10px;
  color: #4a4a4a;
  background-color: $mainBackGrey;

  @include tablet {
    width: 300px;
    font-size: 18px;
    color: rgb(85, 79, 79);
  }

  &:focus {
    outline: none;
    background-color: $mainBackGrey;
  }

  &::placeholder {
    background-color: $mainBackGrey;
  }
}

.houseLabel {
  color: $darkYellow;
}
