@import '../core/variables.scss';
.inputName {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid $darkYellow;
  caret-color: $darkYellow;
  margin-top: 15px;
  margin-left: 10px;
  color: #4a4a4a;
  background-color: $mainBackGrey;
  width: 100%;
  font-size: 18px;

  @include tablet {
    width: 100%;
    font-size: 18px;
  }
  @include desktop {
    width: 100%;
    font-size: 18px;
  }

  &:focus {
    outline: none;
    background-color: $mainBackGrey;
  }

  &::placeholder {
    color: rgb(85, 79, 79);
    font-size: 13px;
    background-color: $mainBackGrey;
    @include desktop {
      font-size: 17px;
    }
  }
}

.filterName__label {
  color: $darkYellow;
  font-size: 18px;
}

.nameSpan {
  @include tablet {
    display: block;
  }
}
