@import '../core/variables.scss';

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.checkbox > span {
  color: #34495e;
  padding: 3px;
}

.checkbox > input {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #34495e;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: $mainBackGrey;
  cursor: pointer;
}

.checkbox > input:checked {
  border: 1px solid $mainBackGrey;
  background-color: #34495e;
}

.checkbox > input:checked + span::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: $mainBackGrey;
  position: absolute;
  left: 0.7rem;
  top: 0.2rem;
}

.checkbox > input:active {
  border: 2px solid #34495e;
}

.speciesLabel {
  color: $darkYellow;
  margin-bottom: 7px;
}
